* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #191d2b;
  --color-secondary: #ff1e00;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 14px;
  --circle: 50%;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-primary);
  font-family:"JetBrains Mono",
  monospace,
  sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

.light-mode {
  --color-primary: #FFFFFF;
  --color-secondary: #00DD00;
  --color-white: #454e56;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #6c7983;
  --color-grey-2: #6c7983;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #f8f8f8;
  --color-grey-6: #12181b;
}

/* Styling for the popup overlay */
#popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(25, 29, 43, 0.8);
  backdrop-filter: blur(2px);
  /* Apply the blur effect to the background */
  z-index: 9999;
}

/* Styling for the popup message */
#popup-message {
  color: #FFFFFF;
  font-size: 0.9rem;
border:.1rem solid var(--color-grey-2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #006f71;
  padding: .5rem;
  border-radius: .5rem;
  text-align: center;
  max-width: 100%;
  /* Limit the maximum width for responsiveness */
}

/* Styling for the "Ok" button */
#ok-button {
  padding: .1rem .6rem;
  background-color: #191d2b;
  color: #FFFFFF;
  border: none;
  border-radius: .2rem;
  cursor: pointer;
}

body::-moz-selection {
  background: var(--color-secondary);
  color: var(--color-primary);
}

/* body::selection {
  background: var(--color-secondary);
  color: var(--color-primary);
}

*/

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  min-height: 100vh;
  color: var(--color-white);
  overflow: hidden;
  padding: 0 !important;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.container {
  display: none;
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
}

.container::before {
  background-image: url(../logos/logo.png);
  background-size: 100px 50px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0;
  cursor: pointer;
  content: "";
}

.active {
  display: block;
  animation: appear 1.5s ease-in-out;
  transform: translateY(0) scaleY(1);
}

@keyframes appear {
  0% {
    transform: translateY(-100%) scaleY(0);
  }

  100% {
    transform: translateY(0) scaleY(1);
  }
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}

.controls .control {
  padding: 1.5rem;
  cursor: pointer;
  background-color: var(--color-grey-4);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0;
  box-shadow: var(--box-shadow-1);
}

.controls .control i {
  font-size: 2.5rem;
  color: var(--color-grey-2);
  pointer-events: none;
}

.controls .active-btn {
  background-color: var(--color-secondary);
  transition: all 0.4s ease-in-out;
}

.controls .active-btn i {
  color: var(--color-white);

}

.theme-btn {
  top: 5%;
  right: 3%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--color-grey-4);
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
}

.theme-btn:active {
  transform: translateY(-6px);
}

.theme-btn i {
  font-size: 2.5rem;
  color: var(--color-grey-2);
  pointer-events: none;
}
.theme-btn .message {
  background-color: var(--color-primary);
}
/*Header-content*/
.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}

.header-content .left-header {
  display: flex;
  align-items: center;
  position: relative;
}

.header-content .left-header .h-shape {
  transition: all 0.4s ease-in-out;
  width: 65%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  -webkit-clip-path: polygon(0% 20%, 10% 20%, 10% 100%, 20% 100%, 20% 20%, 30% 20%, 30% 100%, 40% 100%, 40% 20%, 40% 10%, 40% 100%, 60% 100%, 60% 0%, 70% 0%, 70% 100%, 80% 100%, 80% 0%, 90% 0%, 90% 100%, 100% 100%, 100% 0%, 100% 10%, 0% 10%, 0% 20%, 100% 20%, 100% 30%, 0% 30%, 0% 40%, 100% 40%, 100% 50%, 0% 50%, 0% 60%, 100% 60%, 100% 70%, 0% 70%, 0% 80%, 100% 80%, 100% 90%, 0% 90%, 0% 100%);
  clip-path: polygon(0% 20%, 10% 20%, 10% 100%, 20% 100%, 20% 20%, 30% 20%, 30% 100%, 40% 100%, 40% 20%, 40% 10%, 40% 100%, 60% 100%, 60% 0%, 70% 0%, 70% 100%, 80% 100%, 80% 0%, 90% 0%, 90% 100%, 100% 100%, 100% 0%, 100% 10%, 0% 10%, 0% 20%, 100% 20%, 100% 30%, 0% 30%, 0% 40%, 100% 40%, 100% 50%, 0% 50%, 0% 60%, 100% 60%, 100% 70%, 0% 70%, 0% 80%, 100% 80%, 100% 90%, 0% 90%, 0% 100%);
}

.header-content .left-header .image {
  border-radius: var(--br-sm-2);
  width: 80%;
  margin-left: 4rem;
  transition: all 0.4s ease-in-out;
}

.header-content .left-header .image img {
  width: 70%;
  border: 0.25rem var(--color-secondary) solid;
  border-radius: var(--circle);
  -o-object-fit: cover;
  object-fit: cover;
  transition: all 4s ease-in-out;
  animation: mymove 7s infinite;
}

@keyframes mymove {
  50% {
    filter: grayscale(100%);
    filter: hue-rotate(360deg);
  }
}

.header-content .left-header .image img:hover {
  filter: grayscale(0);
  cursor: pointer;
  transform: rotate(-30deg) translateY(30px);
}
.header-content .left-header .image .message {
  margin: 2rem;
  font-weight: 900;
}
.header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 18rem;
}

.header-content .right-header .name {
  font-size: 3rem;
}

.header-content .right-header .name span {
  /* color: var(--color-secondary); */


  background: -webkit-linear-gradient(20deg, var(--color-secondary), #7303c0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}
.header-content .right-header .name #matrix {
  border-radius: 0.3rem;
  border-top: 0.15rem solid blue;
  border-right: 0.15rem solid rgb(248, 5, 216);
  border-bottom: 0.15rem solid var(--color-secondary);
  border-left: 0.15rem solid yellow;
}
/* .header-content .right-header .sub-title {
  color: var(--color-secondary);
  animation: mymove 7s infinite;
}

@keyframes mymove {
  50% {
    filter: hue-rotate(360deg);
  }
}

*/
.header-content .right-header #matrix:hover {
  color: var(--color-white);
  cursor: pointer;
}

.header-content .right-header p {
  margin: 1.5rem 0;
  line-height: 2rem;
}

/* ------------- */
.header-content .right-header .cutoff-text {
  --max-lines: 2;
  --line-height: 2;
  overflow: hidden;
  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);
  position: relative;
}

.header-content .right-header .cutoff-text:has(+ .expand-btn:not(:checked))::before {
  content: "";
  position: absolute;
  height: calc(1.5em * var(--line-height));
  width: 100%;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, var(--color-primary));
}

.header-content .right-header .expand-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0.1rem solid var(--color-secondary);
  color: var(--color-grey-1);
  padding: 0.3rem;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 100px;
  text-align: center;
  font-weight: 600;
}

.header-content .right-header .expand-btn:hover {
  background-color: var(--color-secondary);
  transition: all 0.4s ease-out;
}

.header-content .right-header .expand-btn::before {
  /* content: "Expand"; */
  content: "Read more";
}

.header-content .right-header .expand-btn:checked::before {
  /* content: "Collapse"; */
  content: "Read less";
}

.header-content .right-header .cutoff-text:has(+ .expand-btn:checked) {
  max-height: none;
}

/* ------------- */

/*About*/
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}

.about-container .right-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.about-container .right-about .about-item {
  border: 1px solid var(--color-grey-5);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}

.about-container .right-about .about-item:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--color-secondary);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
}

.about-container .right-about .about-item .abt-text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.about-container .right-about .about-item .abt-text .large-text {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-secondary);
}

.about-container .right-about .about-item .abt-text .small-text {
  padding-left: 3rem;
  position: relative;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--color-grey-1);
  letter-spacing: 2px;
}

.about-container .right-about .about-item .abt-text .small-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 2rem;
  height: 2px;
  background-color: var(--color-grey-5);
}

.about-container .left-about {
  padding-right: 5rem;
}

.about-container .left-about p {
  line-height: 2rem;
  padding: 1rem;
  color: var(--color-grey-1);
}

.about-container .left-about h4 {
  font-size: 2rem;
  text-transform: uppercase;
}

/* --------- */
.about-container .left-about .cutoff-text {
  --max-lines: 4;
  --line-height: 1.2;
  overflow: hidden;
  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);
  position: relative;
}

.about-container .left-about .cutoff-text:has(+ .expand-btn:not(:checked))::before {
  content: "";
  position: absolute;
  height: calc(1.5em * var(--line-height));
  width: 100%;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, var(--color-primary));
}

.about-container .left-about .expand-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0.1rem solid var(--color-secondary);
  color: var(--color-grey-1);
  padding: 0.3rem;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-top: 0.1rem;
  font-weight: 600;
}

.about-container .left-about .expand-btn:hover {
  background-color: var(--color-secondary);
}

.about-container .left-about .expand-btn::before {
  content: "Expand";
}

.about-container .left-about .expand-btn:checked::before {
  content: "Collapse";
}

.about-container .left-about .cutoff-text:has(+ .expand-btn:checked) {
  max-height: none;
}

.meetup {
  color: var(--color-secondary);
  text-decoration: underline;
}

.meetup a span {

  text-decoration: underline;
}

/* --------- */
.about-stats {
  padding-bottom: 4rem;
}

.about-stats .progress-bars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.about-stats .progress-bars .progress-bar {
  display: flex;
  flex-direction: column;
}

.about-stats .progress-bars .progress-bar .prog-title {
  text-transform: uppercase;
  font-weight: 500;
}

.about-stats .progress-bars .progress-bar .progress-con {
  display: flex;
  align-items: center;
}

.about-stats .progress-bars .progress-bar .progress-con .prog-text {
  color: var(--color-grey-2);
}

.about-stats .progress-bars .progress-bar .progress-con .progress {
  width: 100%;
  height: 0.45rem;
  background-color: var(--color-grey-4);
  margin-left: 1rem;
  position: relative;
}

.about-stats .progress-bars .progress-bar .progress-con .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--color-secondary);
  transition: all 0.4s ease-in-out;
  width: 60%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .html {
  width: 80%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .css {
  width: 70%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .js {
  width: 75%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .react {
  width: 60%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .node {
  width: 60%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .python {
  width: 60%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .sql {
  width: 75%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .cpp {
  width: 70%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .mongodb {
  width: 70%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .git {
  width: 75%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .linux {
  width: 55%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .bash {
  width: 40%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .github {
  width: 75%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .bootstrap {
  width: 80%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .terminal {
  width: 55%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .photoshop {
  width: 55%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .illustrator {
  width: 30%;
}

.stat-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  padding: 3.5rem 0;
  position: relative;
}

.stat-title::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 40%;
  height: 3px;
  background-color: var(--color-grey-5);
  transform: translateX(-50%);
}

/*Timeline*/
.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-bottom: 3rem;
}

.timeline .timeline-item {
  position: relative;
  padding-left: 3rem;
  border-left: 3px solid var(--color-grey-5);
}

.timeline .timeline-item .tl-icon {
  position: absolute;
  left: -27px;
  top: 0;
  background-color: var(--color-secondary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline .timeline-item .tl-icon i {
  font-size: 1.3rem;
}

.timeline .timeline-item .tl-duration {
  padding: 0.2rem 0.6rem;
  background-color: var(--color-grey-5);
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}

.timeline .timeline-item h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
}

.timeline .timeline-item h5 span {
  color: var(--color-grey-2);
  font-weight: 500;
  font-size: 1.2rem;
}

.timeline .timeline-item p {
  color: var(--color-grey-2);
}

/* -------- */
.timeline .timeline-item .cutoff-text {
  --max-lines: 2;
  --line-height: 2;
  overflow: hidden;
  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);
  position: relative;
}

.timeline .timeline-item .cutoff-text:has(+ .expand-btn:not(:checked))::before {
  content: "";
  position: absolute;
  height: calc(1.5em * var(--line-height));
  width: 100%;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, var(--color-primary));
}

.timeline .timeline-item .expand-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0.1rem solid var(--color-secondary);
  color: var(--color-grey-1);
  padding: 0.3rem;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-top: 0.1rem;
  font-weight: 600;
  text-align: center;
  font-weight: 600;
}

.timeline .timeline-item .expand-btn:hover {
  background-color: var(--color-secondary);
  transition: all 0.4s ease-out;
}

.timeline .timeline-item .expand-btn::before {
  content: "Read more";
}

.timeline .timeline-item .expand-btn:checked::before {
  content: "Read less";
}

.timeline .timeline-item .cutoff-text:has(+ .expand-btn:checked) {
  max-height: none;
}

/* -------- */
.port-text {
  padding: 2rem 0;
  text-align: center;
}

.portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}

.portfolios .portfolio-item {
  position: relative;
  border-radius: 15px;
}

.portfolios .portfolio-item img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 15px;
}

.portfolios .portfolio-item .hover-items {
  width: 100%;
  height: 93%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}

.portfolios .portfolio-item .hover-items h3 {
  font-size: 1.5rem;
  color: var(--color-white);
  margin-bottom: 1.5rem;
}

.portfolios .portfolio-item .hover-items .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolios .portfolio-item .hover-items .icons .icon {
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.portfolios .portfolio-item .hover-items .icons .icon i {
  font-size: 1.5rem;
  color: var(--color-white);
  margin: 0 1rem;
}

.portfolios .portfolio-item .hover-items .icons .icon:hover {
  background-color: var(--color-white);
}

.portfolios .portfolio-item .hover-items .icons .icon:hover i {
  color: var(--color-primary);
}

.portfolio-item:hover .hover-items {
  opacity: .8;
  transform: scale(1);
}



.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}

.blogs .blog {
  position: relative;
  background-color: var(--color-grey-5);
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}

.blogs .blog:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transition: all 0.4s ease-in-out;
}

.blogs .blog:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
}

.blogs .blog img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
  /* object-fit: cover; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* filter: grayscale(100%); */
  transition: all 0.4s ease-in-out;
}

.blogs .blog .blog-text {
  margin-top: -7px;
  padding: 1.1rem;
  border-top: 8px solid var(--color-secondary);
}

.blogs .blog .blog-text h4 {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.blogs .blog .blog-text h4:hover {
  color: var(--color-secondary);
}

.blogs .blog .blog-text p {
  color: var(--color-grey-2);
  line-height: 2rem;
  padding-bottom: 1rem;
}

.contact-content-con {
  display: flex;
  padding-top: 3.5rem;
}

.contact-content-con .left-contact {
  flex: 2;
}

.contact-content-con .left-contact h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.contact-content-con .left-contact p {
  margin: 1rem 0;
  line-height: 2rem;
}

.contact-content-con .left-contact .contact-info .contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-content-con .left-contact .contact-info .contact-item p {
  margin: 0.3rem 0 !important;
  padding: 0 !important;
}

.contact-content-con .left-contact .contact-info .contact-item .icon {
  display: grid;
  grid-template-columns: 40px 1fr;
}

.contact-content-con .left-contact .contact-info .contact-item .icon i {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.contact-content-con .left-contact .contact-icon {
  display: flex;
  margin-top: 2rem;
}

.contact-content-con .left-contact .contact-icon a {
  display: flex;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-secondary);
  cursor: pointer;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 0.4rem;
  transition: all 0.4s ease-in-out;
}

.contact-content-con .left-contact .contact-icon a:hover {
  background-color: var(--color-secondary);
}

.contact-content-con .left-contact .contact-icon a:hover i {
  color: var(--color-primary);
}

.contact-content-con .left-contact .contact-icon a i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

.contact-content-con .right-contact {
  flex: 3;
  margin-left: 3rem;
}

.contact-content-con .right-contact .input-control {
  margin: 1.5rem 0;
}

.contact-content-con .right-contact .input-control input,
.contact-content-con .right-contact .input-control textarea {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  background-color: var(--color-grey-5);
  width: 100%;
  color: var(--color-white);
  resize: none;
}

.contact-content-con .right-contact .i-c-2 {
  display: flex;
}

.contact-content-con .right-contact .i-c-2 :last-child {
  margin-left: 1.5rem;
}

/* .contact-content-con .right-contact .submit-btn {
  display: flex;
  justify-content: flex-start;
}

*/ .contact-content-con .right-contact #spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  font-size: 1rem;
  color: var(--color-secondary);
}

.contact-content-con .right-contact #success-message {
  display: none;
  margin-top: 1rem;
  font-size: 1.2em;
  color: #4caf50;
  text-align: center;
}

.contact-content-con .right-contact #error-message {
  display: none;
  margin-top: 1rem;
  font-size: 1.2em;
  color: #f44336;
  text-align: center;
}

.contact-content-con .right-contact input[type=submit] {
  background-color: var(--color-secondary);
  cursor: pointer;
  justify-content: center;
  border: 0.1rem solid var(--color-secondary);
  margin: 0 0.4rem;
  transition: all 0.4s ease-in-out;
  border-radius: 30px;
  font-weight: 600;
  /* letter-spacing: 0.25rem; */
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  width: 100%;
  color: var(--color-white);
  resize: none;
}

.contact-content-con .right-contact input[type=submit]:hover {
  background-color: var(--color-grey-4);
  color: var(--color-secondary);
}
/*Independed components*/
.btn-con {
  display: flex;
  align-self: flex-start;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
  margin-top: 3rem;
}

.main-btn .btn-text {
  padding: 0 2rem;
}

.main-btn .btn-icon {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}

.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: -1;
}

.main-btn:hover {
  transition: all 0.4s ease-out;
}

.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  transform: translateX(0);
  transition: all 0.4s ease-out;
}

.main-title {
  text-align: center;
}

.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}

.main-title h2 span {
  color: var(--color-secondary);
}

.main-title h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-grey-5);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 4rem;
}